body {
    background-color: black!important;
}
/* Alignement des éléments */
.flex {
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
}

/* Taille des éléments */
.color {
    width: 25%;
    height: 80vh;
    display: flex;
    justify-content: center;
}

/* Attribution des couleurs */

.red {
    background-color:red;
}
.redSimon {
    background-color: #B91646;
}
.blue {
    background-color:blue;
}
.blueSimon {
    background-color: #6166B3;
}
.green {
    background-color:green;
}
.greenSimon {
    background-color: #39A388;
}
.yellow {
    background-color:yellow;
}
.yellowSimon {
    background-color:#FEE440;

}